input {
  position: absolute;
  z-index: -1;
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
}

.button, button {
  padding: .4em .6em;
  border: 1px solid;
  border-radius: .3em;
  outline: none;
  cursor: pointer;
  background-color: #0F6CE1;
  color: white;
  font-size: 1em;
}

.button:hover, button:hover {
  background-color: #257FF0;
}
