<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<label class="button">
    Selecciona un archivo...
    <input #file type="file" (change)="onFileChange($event)" accept=".txt" />
</label>
<button type="button" (click)="onLimpiarClick()">Limpiar!</button>

<h3>Departamentos</h3>
<app-list [ubigeos]="departamentos"></app-list>
<h3>Provincias</h3>
<app-list [ubigeos]="provincias"></app-list>
<h3>Distritos</h3>
<app-list [ubigeos]="distritos"></app-list>
